<ion-content>
  <div class="d-flex-center wrapper">

    <!--Define el tamaño del contenedor-->
    <div class="background" [ngStyle]="{
      'background-size': container_width+'px '+container_height+'px ',
      'width': container_width+'px ',
      'height': container_height+'px '
    }">
    
    
      <!--Juego sin Iniciar-->
      <!--con el ngif indicamos que ese se mostrara si gameStarted esta en false-->
      <div *ngIf="!gameStarted" class="d-flex-center text">

        <section>
          
        <!--Logo-->
          <img class="bird-logo" src="/assets/images/bird.gif" alt="">

          <!--Primera partida-->
          <div *ngIf="!gameOver">
            
            <!--texto de pantalla de inicio-->
          <div class="subtext">K-PA 8</div>
            Flappy Bird
          </div>

           <!--Finalizar partida-->
          <div *ngIf="gameOver">
            
            <!--texto de pantalla de inicio-->
          <div class="subtext">Game Over</div>
            Puntaje: {{score}}
          </div>

          <!--Boton de iniciar Juego-->
          <ion-button (click)="startGame()" color="warning" mode="ios" shape="round">
            <!--si es el primer juego dira jugar si no volver a jugar-->
            {{!gameOver ? 'Jugar' : 'Volver a Jugar'}}
            <ion-icon slot="end" name="play"></ion-icon>
          </ion-button>

          <!--Activar o Desactivar Musica-->
          <ion-button (click)="playMusic()" color="success" mode="ios" shape="round">
            <!--se establece una condicion la cual indica q cuando suena pondra el icono para mutear y cuando esta muteada el icono para sonar-->
            <ion-icon [name]="musicActive ? 'volume-mute-outline' : 'volume-high-outline'"></ion-icon>
          </ion-button>

        </section>
        
      </div>
    
      <!--Juego iniciado-->
      <section *ngIf="gameStarted">

        <!--parametros obtenidos del home.page-->
        <app-bird 
        [height]='bird_height'
        [width]="bird_width"
        [top]="bird_position">
        </app-bird>

      </section>

    </div>
  </div>
</ion-content> 